<div class="col-md-8 blog-main">
  <div class="blog-post">
    <h2 class="blog-post-title"><%= postTitle %></h2>
    <p class="blog-post-meta"><%= humanDate %> by <a href="https://twitter.com/thiagoricieri"  target="_blank">Thiago</a></p>

    <%- html %>
  </div>
</div>
